/* Write your global styles here, in SCSS syntax. */
@import "fonts.css";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');

:root {
  // fonts
  --font-chart: "UNIVERS LT LIGHT", "Open Sans", sans-serif;
  --univers-lt: "UNIVERS LT", "Open Sans", sans-serif;
  --font-text: "EB Garamond", serif;
  --font-info: "Merriweather", serif;
  // colors
  --color-bg-white: rgb(255, 255, 255);
  --color-unicef-blue: #1CABE2;
  --color-main: #0090a8;
  --color-secondary: #FD4B4A;
  --color-svg-text: black;
  --svg-tick-line: #ccc;
 // font-sizes
  --h1-size: clamp(40px, 4.5vw, 150px);
  --h3-size: clamp(22px, 3vw, 50px);
  --h2-size: clamp(18px, 1.2vw, 40px);
  --h2-meta-size: clamp(16px, 1vw, 32px);
  --article-name-size: clamp(30px, 3vw, 70px);
  --lead-size: clamp(18px, 1.5vw, 32px);
  --text-size: clamp(18px, 1.3vw, 32px);
  --small-size: clamp(14px, 0.8vw, 18px);
  --tick-size: clamp(11px, 0.8vw, 20px);
  --about-size: clamp(16px, 0.8vw, 25px);
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  line-height: 1.4;
}

.app {
  width: 100%;
  position: relative;
  margin: auto;
}

.app p {
  line-height: 1.4;
}

* {
  box-sizing: border-box;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 5px;
}

.selected-value {
  font-size: 12px;
  font-family: "Cy Grotesk";
  color: rgb(0, 0, 0);
  font-weight: 300;
  line-height: -1px;
  letter-spacing: 0px;
  margin: 1em;
}

svg {
  margin: auto;
  display: block;
}
